.navbar {
  background-color: #003f5c !important;
}

.navbar-brand {
  color: white;
}

.nav-link {
  color: white;
}

button {
  background-color: #003f5c;
  color: white;
  border: 1px solid white;
}

button:hover {
  background-color: tomato;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-border {
  height: 100px;
  width: 100px;
}
